<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="purchase-details">
  <ng-container *ngFor="let details of data; let i = index">
    <div *ngFor="let listing of item">
      <div class="row">
      <div class="column">
        <h1>Review Your Order</h1>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Shipping address</h4>
            <p class="card-text">
                {{ details.address }} 
                <br>
                {{ details.zipcode }}
                <br>
                Phone: {{ details.phone }}
          </p>
          <h4 class="card-title">Payment method</h4>
          <p class="card-text">
            {{ details.card_no }}
            <br>
            {{ details.card_type }}
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
              Seller: {{ listing.username }} ({{ listing.email }})
            <br>
              {{listing.item_name }} - {{ listing.item_desc }}
          </p>
        </div>
      </div>
      </div>
    </div>
    <div class="submit">
      <button type="button" class="btn btn-success submit-btn" [routerLink]="['/order-confirmation']">Place Order</button>
    </div>
  </div>
  </ng-container>
</div>