<div *ngIf="!isLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link nav1" [routerLink]="['/']">Back</a>
            </li>
          </ul>
    </div>
  </nav>
</div>

  <div *ngIf="isLoggedIn">
    <nav class="navbar navbar-expand-lg white-nav">
      <a class="navbar-brand"><img src="https://sat02pap001files.storage.live.com/y4mUfnXsPe5Q9vegk0JAkQtv_dLw7izWG4rr_qaXsfULcFYB5CZleI9zHS12vuQ9blTZMhD0i8AurNeYdmdvnza47K0Oh7Awm3OICMRb_BUb2eneXRk_Lf2LPc9JmiQjJA9aK4ZHqQvcHs0FNVbtyvssGHC_oqk23Nyky0qWCyfUi-n5wQri8k0cD6LI8BO9sWd?width=256&height=111&cropmode=none" width="150" height="60" /></a>
      <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarColor02">
        <span class="navbar-toggler-icon">
         <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
        </span>
      </button>

    <div class="collapse navbar-collapse" id="navbarColor02" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link nav2" routerLinkActive="active" [routerLink]="['/homepage']" [queryParams]="{ username: currentUser.username, zipcode: currentUser.zipcode }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav2" routerLinkActive="active" [routerLink]="['/account']" [queryParams]="{ username: currentUser.username }">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav2" routerLinkActive="active" [routerLink]="['/notifications']" [queryParams]="{ username: currentUser.username }">Notifications</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link nav2" onLoad="active" (click)="signOut()">Log Out</a>
        </li>
      </ul>
        <button class="btn btn-primary register-btn" [routerLink]="['/item-registration']" [queryParams]="{ username: currentUser.username }">Register New Item</button>
    </div>
  </nav>
</div>
