<div class="container main" *ngIf="currentUser">
  <h2 class="header2" style="text-align:center">Notifications</h2>
    <ng-container *ngFor="let notification of notifications; let i = index">
         <div class="notification-section">
         <div class="card"  style="margin: auto; max-width: 40rem;">
         <div class="card-body">
           <div class="delete-edit">
           <!--- <a href="#" class="card-link">Edit</a>
          <button type="button" class="card-link btn btn-danger">Delete</button> -->
        </div>
        <h4 class="card-title">{{ notification.item_name }}</h4>
          <p class="card-text">
              Requested From: {{ notification.from_dt }}
              <br>
              Requested To: {{ notification.to_dt }}
        </p>
      </div>
      </div>
    </div>
  </ng-container>
  </div>
