@import 'bootswatch/dist/materia/bootstrap.min.css';
@import '../../app.component.scss';

.item-details {
  display: flex;
  justify-content: center;
}

.left-column {
  display: flex;
  float: left;
  padding: 20px;
  max-width: 30%;
}

.right-column {
  display: block;
  float: left;
  padding: 20px;
  max-width: 30%;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
}

.card {
  padding: 20px;
  margin-top: 20px;
}

.btn-success {
  color: black;
  background: $yellow;
  border: none;
}

.btn-success:hover {
  color: black;
  background: $light-yellow;
  border: none;
}

.btn-success:focus {
  color: black;
  background: $yellow;
  border: none;
}

.btn-success:active {
  color: black;
  background: $yellow;
  border: none;
}


