<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="item-details">
  <ng-container *ngFor="let details of data; let i = index">
      <div class="left-column">
      <div class="card">
         <div class="card-body">
        <h4 class="card-title">{{ details.item_name }}</h4>
          <p class="card-text">
             {{ details.item_desc }}
        </p>
        </div>
       </div>
       </div>
       <div class="right-column">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <div><i class="fa fa-user" style="font-size: 30px;"></i> {{ details.username }} ({{details.email}})</div>
            </div>
          </div>
        </div>
        <div class="card">
        <div class="card-body">
        <h4 class="card-title" style="display: flex; justify-content: center; font-size: 30px;">Price: ${{ details.price_per_day }}</h4>
        <hr class="my-4">
        <div class="card-text">
      </div>
    <div class="button-section">
       <button type="button" class="btn btn-success button-section" [routerLink]="['/choose-payment']" [queryParams]="{ buyer: currentUser.username, seller: details.username, item: details.item_name }">BUY NOW</button>
      </div>
    </div>
    </div>
  </div>
  </ng-container>
</div>
