<div class="jumbotron main-section">
  <div class="btn-group">
    <button class="signup-button" a [routerLink]="['/signup']">GET STARTED</button>
    <button class="login-button" a [routerLink]="['/login']">LOG IN</button>
  </div>
  <div class="intro">
  <p class="top">WELCOME TO</p>
  <p class="welcome"><img src="https://sat02pap001files.storage.live.com/y4m5YdI0Lz6gRIy4A4VQHHVZQKGaWagukiHvvTElR8pu68oZWr0ur3-tttE1saiVgEBpGgmQkVjzfNrt39E_JAQX41nUZLhtRZOzIWaYl7WoPYpUm75FMWHPL_9VzDOt_GQTAdHTXty8M8iMa_fg9YpCvzy4wVSDDb2N6iwVCnaR8p_kGAOH_PVe6g8rkgg410W?width=660&height=423&cropmode=none" width="660" height="423" /></p>
  <p class="sub">The site where unused items get a chance to live Happle-ly ever after</p>
  </div>
</div>
